h1{
    @apply text-lg font-bold text-highlight-color;
}

.message-container {
    @apply inline-grid;
    grid-template-rows: 1fr 2rem
}

.sent-by-user{
    @apply self-end ml-auto;
    grid-template-columns: 1fr 3rem;
}


.not-sent-by-user{
    @apply self-start mr-auto;
    grid-template-columns: 3rem 1fr;
}

.message-content-SBU {
    @apply bg-background-medium text-app-white p-4 rounded-lg inline-block rounded-br-none;
    max-width: 20rem;
}

.message-content-NSBU{
    @apply bg-background-medium text-app-white p-4 rounded-lg inline-block;
    border-bottom-left-radius: 0;
    max-width: 20rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.message-info{
    @apply flex justify-between items-center w-fit;
}

.time-SBU{
    grid-column: 1/2;
    grid-row: 2/3;
    @apply text-xs text-text-grey mt-1 ml-auto;
}

.pfp-SBU{
    grid-column: 2/3;
    grid-row: 2/3;
    @apply w-8 h-8 ml-2 mb-1 rounded-full object-cover;
}

.time-NSBU{
    grid-column: 2/3;
    grid-row: 2/3;
    @apply text-xs text-text-grey mt-1 mr-auto;
}

.pfp-NSBU{
    grid-column: 1/2;
    grid-row: 2/3;
    @apply w-8 h-8 ml-2 mb-1 rounded-full object-cover;
}