h1{
    @apply text-2xl font-bold mr-2;
}

h2{
    color: theme(colors.text-grey);
    @apply text-lg font-bold self-end;
}

h3{
    @apply text-base font-bold text-highlight-color;
}

.card{
    @apply w-full max-w-[22rem] h-[35rem] bg-background-medium m-4 rounded-3xl shadow-md flex flex-col cursor-pointer transition-all duration-300 ease-in-out;
}

.card:hover {
    @apply ring-4 ring-highlight-color transition-all duration-300 ease-in-out;
}

.card-details{
    @apply p-4 break-words;
}

.user-title{
    @apply flex flex-row;
}

.card-img{
    /* @apply rounded-3xl; */
    height:100%;
    width:100%;
    object-fit:cover;
}

.card-banner{
    @apply rounded-t-3xl;
    max-height: 40%;
    overflow: hidden;
}
