.full-chat {
    @apply grid gap-4;
    /* grid-template-columns: 1fr; */
    height: 100vh;
    grid-template-rows: 1fr 4rem;
}

#message-form {
    @apply flex p-3 items-center justify-center mb-7 h-12 bg-background-medium rounded-lg;
    width: 50vw;
    grid-row: 2; /* Place message-form in the second row */
}

#message-input, #message-input:active, #message-input:focus {
    width: 80%;
    @apply bg-transparent border-none outline-none;
}

.chat {
    @apply p-3 flex flex-col overflow-scroll;
    grid-row: 1; /* Place chat in the first row */
}