input{
    @apply bg-background-medium rounded-lg  border-highlight-color p-2 mb-5 transition-all ease-in-out duration-300;
}

input:active, input:focus{
    @apply border-highlight-color border outline-none transition-all ease-in-out duration-300;
}

input:valid{
    @apply border-valid-green  transition-all ease-in-out duration-300;
}

h1{
    @apply text-3xl font-bold text-app-white mb-6;
}

button{
    @apply bg-highlight-color text-app-white border border-highlight-color rounded-lg p-2 transition-all ease-in-out duration-300;
}

button:hover{
    @apply bg-transparent transition-all ease-in-out duration-300;
}

.login-form{
    @apply flex flex-col self-center p-4 rounded-xl;
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 10%;
}

#password{
    @apply mb-1;
}

.forgot-password{
    @apply text-highlight-color text-sm underline self-end mb-5 cursor-pointer;
}

.errorMsg{
    @apply text-error-red;
}