#profile-icon, #messages-icon{
    width: 50px;
}
.logo {
    @apply h-20 w-20;
}
.nav {
    @apply flex justify-between items-center sticky top-0 bg-background-dark ;
}

.nav-in-chat{
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
}