#profile-icon, #messages-icon{
    width: 40px;
    height: 40px;
    
}
#profile-icon {
    border-radius: 50%;
}
.logo {
    @apply h-10 w-10 !important;
}
.nav-right {
    @apply flex items-center
}
.nav-right > a {
    @apply ml-2;
}
.nav {
    @apply flex justify-between items-center sticky top-0 bg-background-dark ;
}

.nav-in-chat{
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
}